:root {
  --primary-color: rgba(19, 35, 48, 0.5);
  --secondary-color: #F28C28;
  --tertiary-color: #0d1821;
  --quarternary-color: #fff;
  --box-shadow-glow: 0 0 5px 5px #fff;
  --default-margin: 10px;
  --tile-border: 2px solid ##d6e3f8;
}

/*browser styling*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/*end broswer styling*/

/* App styling */
.App{
  background-color: var(--tertiary-color);
  color: var(--quarternary-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
/* App styling */

/* SVG styling section */
.parallax > use {
  animation: move-forever 12s linear infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
}
.parallax > use:nth-child(2) {
  animation-delay: -2s;
  animation-duration: 5s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 3s;
}

@keyframes move-forever{
  0%{transform: translate(-90px , 0%)};
  100%{transform: translate(85px , 0%)}; 
}

.editorial {
  display: block;
  width: 100%;
  height: 20em;
  max-height: 100vh;
  margin: 0;
}
/* SVG styling end */

/*header*/
#header,
#footer {
  display: flex;
  flex-wrap: wrap;
}

#header {
  background-color: var(--primary-color);
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
  color: var(--quarternary-color);
  padding: 5px 10px;
}

.nav-name{
  margin-bottom: 0 !important;
}

.nav-links li {
  list-style: none;
  color: var(--quarternary-color);
  display: inline-block;
  margin: 5px 10px 5px 10px;
  font-size: 20px;
}

.nav-links li:hover {
  box-shadow: var(--box-shadow-glow);
}

.nav-links li a:hover {
  color: var(--primary-color);
  font-weight: bold;
}

#nav-ul{
  margin-bottom: 0  !important;
}
/*end header styling*/

/* About section styling */
#bioinfodiv {
  display: flex;
  margin: 20px auto;
  width: 80%;
}

#about-title{
  color: var(--secondary-color);
  font-size: 100px;
}

#about-text {
  text-align: center;
  align-self: center;
  font-weight: bold;
  font-size: 1.25em;
}

#about-text a:hover{
  box-shadow: var(--box-shadow-glow);
}
/* About section end */

/* Portfolio styling section */
.port-card{
  background-color: rgba(19, 35, 48, 1) !important;
}

.card-image:hover{
  opacity: 0.5;
}

.btn{
  background-color: var(--tertiary-color) !important;
  color: var(--secondary-color) !important;
}

.btn:hover{
  box-shadow: var(--box-shadow-glow);
}

#portfolio-title, #contact-title, #resume-title{
  color: var(--secondary-color);
  font-size: 50px;
  text-align: left;
}
/* Portfolio section end */

/* Resume styling section */
iframe{
  margin: 0 auto;
}

#download-link{
  text-decoration: none;
  color: var(--secondary-color)
}

#download-link:hover{
  color: var(--quarternary-color);
}

/* Resume styling end */

/* Footer section styling */
#footer{
  bottom: 0;
  margin-top: auto;
  width: 100%;
}

.contact-links {
  margin: var(--default-margin) auto var(--default-margin) auto;
}

.contact-links img {
  width: 50px;
  height: 50px;
  margin: var(--default-margin);
  color: var(--primary-color);
}

.contact-links img:hover {
  box-shadow: var(--box-shadow-glow);
}
/* Footer section end */