:root {
  --primary-color: #344966;
  --secondary-color: #F28C28;
  --tertiary-color: #0d1821;
  --quarternary-color: #fff;
  --quinary-color: #d6e3f8;
  --box-shadow-glow: 0 0 5px 5px #fff;
  --default-margin: 10px;
  --tile-border: 2px solid ##d6e3f8;
}

/*browser styling*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/*end broswer styling*/

/*body styling*/
body {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  background-color: #fff;
}
/*end body styling*/

/*header*/
#header,
#footer {
  display: flex;
  flex-wrap: wrap;
}

#header {
  background-color: rgba(53, 72, 102, 0.95);
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
  color: var(--quarternary-color);
  padding: 5px 10px;
}

.nav-links li {
  list-style: none;
  color: var(--quarternary-color);
  display: inline-block;
  margin: 5px 10px 5px 10px;
  font-size: 20px;
}

.nav-links li:hover {
  box-shadow: var(--box-shadow-glow);
}

.nav-links li a:hover {
  color: var(--primary-color);
  font-weight: bold;
}
/*end header styling*/

/* About section styling */
#bioinfodiv {
  display: flex;
  margin: 20px auto;
  text-align: center;
  width: 80%;
}

#about-title, #portfolio-title, #contact-title, #resume-title{
  border-bottom: solid var(--secondary-color) 2px;
}

#about-text {
  text-align: center;
  align-self: center;
  font-weight: bold;
  font-size: 1.25em;
}
/* About section end */

/* Resume styling section */
iframe{
  margin: 0 auto;
}
/* Resume styling end */

/* Footer section styling */
#footer{
  bottom: 0;
  width: 100%;
}

.contact-links {
  margin: var(--default-margin) auto var(--default-margin) auto;
}

.contact-links img {
  width: 50px;
  height: 50px;
  margin: var(--default-margin);
  color: var(--primary-color);
}

.contact-links img:hover {
  box-shadow: var(--box-shadow-glow);
}
/* Footer section end */